# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Production
/build
*.log

# Testing
/coverage

# Static build
/static

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn v1
.yarn-integrity

# Yarn v2 and above
/.yarn/cache
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
.pnp.*

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Miscellaneous
*.pem
*.key
*.crt
*.env

# Local env files
.env.local
.env.*.local

uploads/
