.admin-card {
  border-radius: 15px; /* Slightly larger rounded corners */
  border: 300px solid transparent; /* Start with a transparent border */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Softer shadow */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
  height: 60vw; /* Adjust height to 60% of the viewport width */
  max-height: 400px; /* Set a max height to avoid cards getting too large */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333; /* Default text color */
  position: relative;
  background-color: white; /* Keep the card background white */
}

.admin-card.light-blue-card {
  border-color: #87CEFA !important; /* Light blue border */
  color: #87CEFA !important; /* Light blue text and icon */

}

.admin-card.purple-card {
  border-color: #9370DB !important; /* Purple border */
  color: #9370DB !important; /* Purple text and icon */
}

.admin-card.light-grey-card {
  border-color: #D3D3D3 !important; /* Light grey border */
  color: #D3D3D3 !important; /* Light grey text and icon */
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow on hover */
}

.admin-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 350px;
}

.admin-card-icon {
  font-size: 60px; /* Larger icon size */
  margin-bottom: 20px;
  transition: color 0.3s ease; /* Smooth transition for icon color */
}

.admin-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.card-link {
  text-decoration: none;
}

