.admin-card {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  height: 60vw; /* Adjust height to 60% of the viewport width */
  max-height: 400px; /* Set a max height to avoid cards getting too large */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white; /* Keep the card background white */
  position: relative;
}

.admin-page {

  height: 100%;
}

.admin-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.admin-card:hover {
  transform: translateY(-5px);
}

.admin-card-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.card-link {
  text-decoration: none;
}

.admin-page h1 {
  margin-bottom: 40px;
}

/* Specific icon and text colors */
.light-blue-card .admin-card-icon, 
.light-blue-card .admin-card-title {
  color: #87CEFA; /* Light blue */
}

.purple-card .admin-card-icon, 
.purple-card .admin-card-title {
  color: #9370DB; /* Purple */
}

.light-grey-card .admin-card-icon, 
.light-grey-card .admin-card-title {
  color: #D3D3D3; /* Light grey */
}

/* Card title style */
.admin-card-title {
  font-size: 18px;
  font-weight: bold;
}

.profile-picture {
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height to match width */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area */
  margin-bottom: 10px; /* Space below the image */
}