.admin-form {
  max-width: 900px; /* Adjust as needed */
  margin: auto;
}


textarea.form-control {
  resize: none; /* Prevents resizing */
  height: 100px; /* Increased height for the description textarea */
}

@media (max-width: 768px) {
  .admin-form {
    width: 100%;
  }
}

/* Style for file upload section */
.file-upload-container {
  display: flex;
  align-items: center; /* Vertically align items in the center */
  gap: 10px; /* Space between file input and filenames */
}

.file-upload-container .file-input and look{
  width: 50%; /* Make file input take 50% of the container width */
}

.file-upload-container .file-names {
  color: #6c757d; /* Muted text color */
  font-size: 0.9em; /* Slightly smaller text size */
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

.file-names {
margin-top: 30px ;
}

.upload-button {
  margin-top: 20px; /* Space above the upload button */
  float: right; /* Align the button to the right of the screen */
}


