.homePage {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeSection {
  margin-bottom: 60px;
}

.welcomeTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 10px;


}

.welcomeSubtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 40px;
  font-family: 'Roboto ', Menlo, Monaco, Consolas, 'Courier New', monospace;
  text-transform: uppercase;

}

.navigateTitle {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.cardSection {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}

.customCardTitle {
  font-size: 1.7rem !important; /* Adjust this size as needed */

}

.customCard {
  flex: 1;
  max-width: 45%;
  min-width: 300px;
  border-radius: 50px;
  overflow: hidden;
  backdrop-filter: blur(10px) brightness(0.5);
  border: 3px solid rgb(0, 0, 0) !important;
  text-align: left;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  border-radius: 17px !important;
}


/* Dark mode for card */
.dark .customCard {
  background-color: #b3b1b192; /* Dark mode background for card */
  color: white; /* Light text in dark mode */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Adjust shadow for dark mode */
  border: 3px white solid !important;
  backdrop-filter: blur(10px) brightness(0.5);


}

/* Card text in dark mode */
.dark .cardBody {
  color: white;
}

/* Dark mode for welcome title and subtitle */
.dark .welcomeTitle,
.dark .welcomeSubtitle {
  color: white;
}

/* Dark mode for navigation title */
.dark .navigateTitle {
  color: white;
}
