/* index.css */

/* Reset body margin and set global font family */
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  color: black; /* Default text color in light mode */
  transition: background-color 0.3s, color 0.3s;
}

/* Font styling for code elements */
code {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Ensure the entire body and html fill the viewport height */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Ensure the root div fills the viewport */
#root {
  height: 100%;
}

/* Full-height layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Floating Dark Mode Button */

/* Dark mode */
body.dark-mode {
  background-color: #121212;

}

/* Global Dark Mode Test */
body.dark-mode .header {
  background-color: black !important; /* Make the header background black for testing */
}

body.dark-mode .header * {
  color: white !important; /* Make all text in the header white for testing */
}

/* Ensure that all text is properly changed in dark mode */


/* Import external fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');


/* Dark mode */
body.dark-mode {
  background-color: #121212;
  background-image: url('https://images.ctfassets.net/2x4vothfh006/6JMV9HK1W3fUrdySCC6AS8/031ddedabd3e7e7b090dc1827a1ec85d/selected_18.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  backdrop-filter: blur(7px) brightness(0.7); /* 30px blur and 17% brightness increase */
}

/* Overlay for dark mode background */
body.dark-mode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the overlay is behind other elements */
}

/* Reset the z-index of the app-container to ensure it's above the overlay */
.app-container {
  z-index: 1;
  position: relative; /* Ensure it stays above the overlay */
}


body.dark-mode .header * {
  color: white !important; /* Make all text in the header white */
}